@import "tailwindcss";

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #87CEEB;
  --line-color: #f4f6f5;
  --bg-color: #ffffff;

  color: black;

  background-color: var(--bg-color);

}

.p-overlay-mask {
  background: rgba(255, 255, 255, .4) !important;
}
